<%= turbo_frame_tag 'categories' do %>
  <h1><%= t('.title') %></h1>
  <%= form_with url: products_path, method: :get do |form| %>
    <%= form.text_field :name, placeholder: t('products.form.pname'), onkeydown: "if(event.keyCode == 13) { this.form.submit(); }", value: params[:name] %>
    <%= form.number_field :min_price, placeholder: t('.min_price'), onkeypress: "if(event.keyCode == 13) { this.form.submit(); }", value: params[:min_price] %>
    <%= form.number_field :max_price, placeholder: t('.max_price'), onkeypress: "if(event.keyCode == 13) { this.form.submit(); }", value: params[:max_price] %>
    <%= form.select :order_by, options_for_select([[t('.recientes'), 'newest'], [t('.mas_caros'), 'expensive'], [t('.mas_baratos'), 'cheapest']], params[:order_by]),
  {}, {onchange: "this.form.submit();", value: params[:order_by]}
     %>
  <% end %>
  <%= render 'shared/category', var: @categories %>
  <%= turbo_frame_tag "products-#{@pagy.page}" do %>
    <%= render partial: 'shared/product', collection: @products %>
    <%= turbo_frame_tag "products-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
  <% end %>
<% end %>
